@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Delete Personal Data";
    ViewData["ActivePage"] = ManageNavPages.DeletePersonalData;
}

<h4>Delete Account</h4>
<hr />
<div class="row">
    <div class="col-2">
        <div class="list-group list-group-flush">
            <a asp-page="Index" class="btn btn-default btn-link list-group-item list-group-item-action">Profile</a>
            <a asp-page="ChangePassword" class="btn btn-default btn-link list-group-item list-group-item-action">Change Password</a>
            <a asp-page="DeletePersonalData" class="btn btn-default btn-link list-group-item list-group-item-action active">Delete Account</a>
        </div>
    </div>
    <div class="col">
        <div class="alert alert-dark text-dark" role="alert">
            <p>
                <span><i class="fa fa-warning text-danger"></i></span>
                <strong><u>Deleting this data will permanently remove your account.</u></strong>
            </p>
        </div>

        <div>
            <form id="delete-user" method="post" class="form-group">
                <div asp-validation-summary="All" class="text-danger"></div>
                @if (Model.RequirePassword)
                {
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                }
                <a asp-page="./Index" class="btn btn-default">Cancel</a>
                <button class="btn btn-danger" type="submit">Delete data and close my account</button>
            </form>
        </div>
    </div>
</div>


@section Scripts {
<partial name="_ValidationScriptsPartial" />
}