@page
@model FreelanceDir.Pages.Gigs.CreateModel
@inject UserManager<User> UserManager

@{
    var topCategories = (List<Category>)ViewData["topCategories"];
}

<h3>Create Gig</h3>

<hr />

<div class="jumbotron bg-light">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Gig.Category" class="control-label"></label>
            @Html.DropDownListFor(m => m.Gig.CategoryId, new SelectList(topCategories.SelectMany(c => c.Children), "Id", "Name", "", "Parent.Name"), "Select", new { @class = "form-control" })
            <span asp-validation-for="Gig.Category" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Gig.Title" class="control-label"></label>
            <input asp-for="Gig.Title" class="form-control" placeholder="Ex. Diseño de paginas web para profesionales y pequeños negocios." maxlength="180" />
            <span asp-validation-for="Gig.Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Gig.Description" class="control-label"></label>
            <textarea asp-for="Gig.Description" class="form-control" rows="10"></textarea>
            <span asp-validation-for="Gig.Description" class="text-danger"></span>
        </div>
        <div class="form-group text-center">
            <a asp-page="/Users/Dashboard" class="btn btn-default">Cancel</a>
            <input type="submit" value="Create & Continue" class="btn btn-info" />
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

    </script>
}
