@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutMaster";
}

<div class="container">
    @RenderBody()
    <hr />
    <footer>
        <p>&copy; 2019 - FreelanceDir</p>
    </footer>
</div>

@section Scripts {
    @await RenderSectionAsync("Scripts", required: false)
}
